$icomoon-font-family: "senfify-icon" !default;
$icomoon-font-path: "fonts" !default;

$si-chart: unquote('"\\e95d"');
$si-graph: unquote('"\\e95c"');
$si-activity-pentagon: unquote('"\\e95f"');
$si-activity: unquote('"\\e95b"');
$si-google-search: unquote('"\\e957"');
$si-telegram: unquote('"\\e958"');
$si-instagram: unquote('"\\e959"');
$si-google-ads: unquote('"\\e95a"');
$si-add-teeth: unquote('"\\e960"');
$si-teeth-close: unquote('"\\e953"');
$si-teeth-need: unquote('"\\e954"');
$si-document-download: unquote('"\\e94c"');
$si-menu-meatballs: unquote('"\\e95e"');
$si-menu-candy-box: unquote('"\\e94d"');
$si-category: unquote('"\\e910"');
$si-text: unquote('"\\e94e"');
$si-bell: unquote('"\\e949"');
$si-filter: unquote('"\\e940"');
$si-filter-multiple: unquote('"\\e942"');
$si-lock: unquote('"\\e93f"');
$si-logout: unquote('"\\e931"');
$si-tooth: unquote('"\\e92a"');
$si-dent: unquote('"\\e94f"');
$si-home-line: unquote('"\\e923"');
$si-mandible: unquote('"\\e92b"');
$si-mouth: unquote('"\\e92c"');
$si-maxilla: unquote('"\\e92d"');
$si-tick-square: unquote('"\\e929"');
$si-rotate-right: unquote('"\\e925"');
$si-search: unquote('"\\e922"');
$si-sms: unquote('"\\e926"');
$si-email: unquote('"\\e941"');
$si-received-calls: unquote('"\\e955"');
$si-missed-call: unquote('"\\e951"');
$si-succeed-call: unquote('"\\e952"');
$si-calling: unquote('"\\e90b"');
$si-call: unquote('"\\e927"');
$si-delete: unquote('"\\e90c"');
$si-hide: unquote('"\\e932"');
$si-show: unquote('"\\e90d"');
$si-edit: unquote('"\\e90e"');
$si-pause: unquote('"\\e90f"');
$si-upload: unquote('"\\e911"');
$si-two-layer-money: unquote('"\\e937"');
$si-money: unquote('"\\e930"');
$si-dollar-square: unquote('"\\e912"');
$si-dollar-circle: unquote('"\\e913"');
$si-setting: unquote('"\\e914"');
$si-reassign: unquote('"\\e93e"');
$si-doctor: unquote('"\\e906"');
$si-folder: unquote('"\\e903"');
$si-two-people: unquote('"\\e956"');
$si-profile-accepted: unquote('"\\e938"');
$si-profile-delete: unquote('"\\e939"');
$si-group: unquote('"\\e915"');
$si-profile-add: unquote('"\\e908"');
$si-profile: unquote('"\\e943"');
$si-profile-circle: unquote('"\\e916"');
$si-profile-circle-fill: unquote('"\\e924"');
$si-profile-square: unquote('"\\e904"');
$si-profile-octagon: unquote('"\\e93a"');
$si-calendar-tick: unquote('"\\e93b"');
$si-calender-line: unquote('"\\e921"');
$si-document-minus: unquote('"\\e917"');
$si-card-line: unquote('"\\e92f"');
$si-document-align-center: unquote('"\\e918"');
$si-document-align-right: unquote('"\\e944"');
$si-document-align-left: unquote('"\\e945"');
$si-calender: unquote('"\\e933"');
$si-calender-down: unquote('"\\e905"');
$si-calender-up: unquote('"\\e934"');
$si-down-square: unquote('"\\e935"');
$si-up-square: unquote('"\\e936"');
$si-add: unquote('"\\e919"');
$si-minus: unquote('"\\e91a"');
$si-tick: unquote('"\\e91b"');
$si-right: unquote('"\\e920"');
$si-angle-right: unquote('"\\e91e"');
$si-two-angle-right: unquote('"\\e93c"');
$si-two-angle-left: unquote('"\\e93d"');
$si-angle-left: unquote('"\\e91f"');
$si-angle-down: unquote('"\\e901"');
$si-angle-up: unquote('"\\e907"');
$si-close: unquote('"\\e91c"');
$si-warning: unquote('"\\e92e"');
$si-information-circle: unquote('"\\e91d"');
$si-close-circle: unquote('"\\e909"');
$si-clock: unquote('"\\e900"');
$si-time-circle: unquote('"\\e928"');
$si-website: unquote('"\\e902"');
$si-location: unquote('"\\e90a"');
$si-send: unquote('"\\e946"');
$si-numerical-star: unquote('"\\e947"');
$si-card: unquote('"\\e948"');
$si-card-earn: unquote('"\\e94a"');
$si-wallet: unquote('"\\e94b"');
$si-microscope: unquote('"\\e950"');

