@import 'functions';

$baseFontSize: 16 !default;

// root config
:root {
  --font-family: IRANSansXFaNum, Inter, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial;

  --primary: #2d264b;
  --white: #fff;
  --black: #000;
  --light-primary: #2b70c9;
  --light-secondary: #58cc02;
  --light-error: #ff4b4b;
  --light-primary-container: #bcd3ed;
  --light-secondary-container: #a9e57f;
  --light-error-container: #fca4a4;
  --light-background: #f5f5f5;
  --light-surface-variant: #eceff1;
  --light-surface: #fff;
  --light-outline: #546e7a;
  --light-outline-variant: #cfd8dc;
  --very-light-outline-variant: #cac4d0;
  --light-error-8: rgba(255, 75, 75, 0.08);
  --light-primary-8: rgba(43, 112, 201, 0.08);
  --light-primary-12: rgba(43, 112, 201, 0.12);
  --first-elevation: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  --second-elevation: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
  --third-elevation: 0px 4px 10px 3px rgba(188, 211, 237, 0.5);
  --font-color-2: #afb7bd;
  --light-shadow: #000;
  --light-inverse-on-surface: #eff1f1;
  --light-on-primary: #fff;
  --light-on-primary-8: #3c7bcd;
  --light-on-primary-12: #4481cf;
  --light-on-surface: #191c1d;
  --light-on-secondary: #fff;
  --light-on-error: #fff;
  --light-on-secondary-container: #1a3d01;
  --light-on-error-container: #fafdfd;
  --light-on-background: #191c1d;
  --light-on-surface-3: rgba(25, 28, 29, 0.3);
  --light-on-surface-08: rgba(25, 28, 29, 0.08);
  --light-on-surface-12: rgba(25, 28, 29, 0.12);
  --light-on-surface-variant: #37474f;
  --light-on-surface-variant-3: rgba(55, 71, 79, 0.3);
  --light-on-error-container: #fafdfd;
  --light-on-primary-container: #0d223c;
  --light-inverse-surface: #2e3132;
  --light-on-primary-container: #1f4f8e;
  --light-on-surface-8: rgba(25, 28, 29, 0.08);

  --size-2: #{rem(2px)};
  --size-3: #{rem(3px)};
  --size-4: #{rem(4px)};
  --size-6: #{rem(6px)};
  --size-8: #{rem(8px)};
  --size-10: #{rem(10px)};
  --size-12: #{rem(12px)};
  --size-14: #{rem(14px)};
  --size-16: #{rem(16px)};
  --size-18: #{rem(18px)};
  --size-20: #{rem(20px)};
  --size-22: #{rem(22px)};
  --size-24: #{rem(24px)};
  --size-26: #{rem(26px)};
  --size-28: #{rem(28px)};
  --size-30: #{rem(30px)};
  --size-32: #{rem(32px)};
  --size-34: #{rem(34px)};
  --size-36: #{rem(36px)};
  --size-38: #{rem(38px)};
  --size-40: #{rem(40px)};
  --size-42: #{rem(42px)};
  --size-44: #{rem(44px)};
  --size-46: #{rem(46px)};
  --size-48: #{rem(48px)};
  --size-49: #{rem(49px)};
  --size-52: #{rem(52px)};
  --size-56: #{rem(56px)};
  --size-58: #{rem(58px)};
  --size-60: #{rem(60px)};
  --size-64: #{rem(64px)};
  --size-72: #{rem(72px)};
  --size-80: #{rem(80px)};
  --size-88: #{rem(88px)};
  --size-96: #{rem(96px)};
  --size-100: #{rem(100px)};
  --size-120: #{rem(120px)};

  --font-base: 16px;
  --font-10: #{rem(10px)};
  --font-12: #{rem(12px)};
  --font-14: #{rem(14px)};
  --font-16: #{rem(16px)};
  --font-18: #{rem(18px)};
  --font-20: #{rem(20px)};
  --font-22: #{rem(22px)};
  --font-24: #{rem(24px)};
  --font-28: #{rem(28px)};
  --font-32: #{rem(32px)};
  --font-46: #{rem(46px)};
  --font-48: #{rem(48px)};
  --font-64: #{rem(64px)};

  @media (max-width: 767.98px) {
    --font-base: 14px;
    --size-2: #{rem(2px, 14)};
    --size-3: #{rem(3px, 14)};
    --size-4: #{rem(4px, 14)};
    --size-4: #{rem(6px, 14)};
    --size-6: #{rem(6px, 14)};
    --size-8: #{rem(8px, 14)};
    --size-10: #{rem(10px, 14)};
    --size-12: #{rem(12px, 14)};
    --size-14: #{rem(14px, 14)};
    --size-16: #{rem(16px, 14)};
    --size-18: #{rem(18px, 14)};
    --size-20: #{rem(20px, 14)};
    --size-24: #{rem(24px, 14)};
    --size-26: #{rem(26px, 14)};
    --size-28: #{rem(28px, 14)};
    --size-30: #{rem(30px, 14)};
    --size-32: #{rem(32px, 14)};
    --size-34: #{rem(34px, 14)};
    --size-36: #{rem(36px, 14)};
    --size-38: #{rem(38px, 14)};
    --size-40: #{rem(40px, 14)};
    --size-42: #{rem(42px, 14)};
    --size-44: #{rem(44px, 14)};
    --size-46: #{rem(46px, 14)};
    --size-48: #{rem(48px, 14)};
    --size-49: #{rem(49px, 14)};
    --size-52: #{rem(52px, 14)};
    --size-56: #{rem(56px, 14)};
    --size-58: #{rem(58px, 14)};
    --size-60: #{rem(60px, 14)};
    --size-64: #{rem(64px, 14)};
    --size-72: #{rem(72px, 14)};
    --size-80: #{rem(80px, 14)};
    --size-88: #{rem(88px, 14)};
    --size-96: #{rem(96px, 14)};
    --size-100: #{rem(100px, 14)};
    --size-120: #{rem(120px, 14)};

    --font-10: #{rem(10px, 14)};
    --font-12: #{rem(12px, 14)};
    --font-14: #{rem(14px, 14)};
    --font-16: #{rem(16px, 14)};
    --font-18: #{rem(18px, 14)};
    --font-22: #{rem(22px, 14)};
    --font-32: #{rem(32px, 14)};
    --font-48: #{rem(48px, 14)};
    --font-64: #{rem(64px, 14)};
  }
}
